.btn {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
}

.btn:hover {
  transition: all 0.3s ease;
}

.btn:not(:hover) {
  transition: all 0.5s ease;
}

.btn:active {
  color: rgb(124, 124, 124);
}

.btn__offers {
  margin-top: 26px;
  padding: 27px 0;
  letter-spacing: 3px;
}

.btn__offers::after,
.btn__product::after,
.btn__banners::after {
  content: "";
  position: absolute;
  bottom: 33px;
  right: 37px;
  width: 6px;
  height: 11px;
  background-image: url(/img/arrow.png);
}

.btn__product {
  position: relative;
  margin: auto;
  margin-top: 112px;
  padding: 27px 0;
  width: 309px;
  letter-spacing: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(33, 33, 33, 1);
}

.btn__product::after {
  background-image: url(/img/arrow-black.png);
}

.btn__banners {
  width: 300px;
  margin-left: -18px;
  margin-top: 26px;
  padding: 27px 0;
  letter-spacing: 3px;
}

.btn__banners::after {
  right: 5px;
}
