.page-header {
  padding: 0 150px;
  background-color: rgba(242, 235, 230, 1);
}

.page-header__container {
  display: flex;
  padding-top: 84px;
  padding-bottom: 296px;
}

.page-header__logo {
  margin-left: 0.8%;
  width: 180px;
  flex-shrink: 0;
  margin-right: 19.3%;
}
